<!DOCTYPE html>
<html>
    <head>
        <title>Forecast Unavailable</title>
        <link href="./style.css" rel="stylesheet">
        <link rel="icon" href="img/logo.png">
    </head>
    <body>
        <h6><a href="./">Oops!</a></h6><br><br>
        <br>
        <p>Forecast for that location is currently unavailable</p>   
        <br>
        <a class="login" href="./getweather">Return To Weather Page</a>
    </body>
</html>
