<!DOCTYPE html>
<html>
    <head>
        <title>Trial Expired</title>
        <link href="./style.css" rel="stylesheet">
        <link rel="icon" href="img/logo.png">
    </head>
    <body>
        <h6><a href="./">Trial Expired</a></h6><br><br>
        <div><p><a class="login" href="./cookie/login">Login</a> to keep using this site</p></div>
    </body> 
</html>
