<html>
    <div class="grid">
        {{#each results}}
        <div class="fill" id={{this.house}}>
            <span>{{this.house}}</span>
            <div>{{this.pts}}</div>    
        </div>
         {{/each}}
    </div>
</html>