<!DOCTYPE html>
<html>
    <head>
        <title>Number Facts</title>
        <link href="./style.css" rel="stylesheet">
        <link rel="icon" href="img/logo.png">
    </head>
    <body>
        <h6><a href="./">NUMBER FACTS</a></h6><br><br><br>
        <div>
            <p class="label">Facts About Number {{value}}</p>
            <ul>
            {{#each facts}}
                <br>
                <li>{{this}}</li>
            {{/each}}
            </ul>
        </div>
    </body>
</html>
