<!DOCTYPE html>
<html>
    <head>
        <title>Profile</title>
        <link href="./style.css" rel="stylesheet">
        <link rel="icon" href="img/logo.png">
    </head>
    <body>
        <h6><a href="./">Profile</a></h6><br><br>
        <div>
            <h4><a style="color:black; text-transform: uppercase; font-size: 40px;" href="./rename">{{user}}</a></h4>
            <h5>{{name}}</h5>
            <h5>Grade {{grade}}</h5>
            <h5>Counselor: {{counselor}}</h5>
        </div>
    </body> 
</html>
