<!DOCTYPE html>
<html>
    <head>
        <title>Change Username</title>
        <link href="./style.css" rel="stylesheet">
        <link rel="icon" href="img/logo.png">
    </head>
    <body>
        <h6><a href="./">Change Username</a></h6><br><br><br>
        <form action="./rename" method="get">
            <label for="new">New Username</label><br>
        	<input maxlength="14" onkeypress="return event.charCode != 32" type="text" style="text-transform:uppercase" id="new" name="new"><br>
        	<button type="submit" value="Submit">Submit</button>
        
    </body> 
</html>
